{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<section class="water">

    <div class="container">        
        <img class="img" src="https://preview.redd.it/zo963u26w8x31.png?auto=webp&s=d6c6a2675937535439a6f427f6fa48aecd9316e4"/>

        <hr>


        <div class="row">
            <p class="lorem col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente amet facilis porro eligendi odio sint a rem architecto accusantium alias quibusdam, placeat nemo hic sed nam tempora ipsum molestias nobis consectetur quod sit eveniet in necessitatibus qui. Doloribus vel non perspiciatis facere accusamus laborum quisquam incidunt quis eaque, labore soluta numquam, eligendi, deleniti voluptatem? Eligendi, dolorem. Sequi hic, voluptatem reprehenderit nesciunt dolor rerum cupiditate debitis! Voluptatem aperiam id assumenda, nam similique aliquid deserunt ipsam fugiat? Ipsam, provident. Ex, hic ad! Suscipit totam libero facere repellat aut illo obcaecati sunt? Dolores ipsam modi incidunt aspernatur sunt iusto beatae alias, sequi, veniam dolor vero eligendi totam repellendus, quidem neque odit? Qui laboriosam sit excepturi fugiat optio nam quae praesentium, odit accusantium reprehenderit, nesciunt in ullam, architecto repellendus perspiciatis corporis eos voluptas ipsum. Harum cum commodi repudiandae similique, maxime amet sint corporis nostrum modi quo sit reprehenderit tempora non inventore. Quas, esse minima recusandae error saepe doloremque blanditiis amet tempora quasi aperiam assumenda facilis alias! Pariatur temporibus, molestiae, corporis in, incidunt vitae vero dolores porro quidem voluptatem similique quam! Eius, nobis magnam? Recusandae, accusamus sapiente! Ratione quasi optio nostrum harum voluptate veritatis perspiciatis dolor! Tempora voluptate ratione odio eveniet ut corporis obcaecati doloremque, similique necessitatibus deserunt quibusdam molestias. Laborum quas a architecto, eos ab obcaecati delectus aliquid facere eum harum dolorum numquam inventore neque sunt non explicabo maxime. Obcaecati voluptates eum, amet eaque aspernatur laboriosam quod, eveniet nesciunt sapiente asperiores facilis aliquid expedita impedit, officiis quidem quia. Laboriosam dolore harum perspiciatis. Aliquam ratione maxime harum dolorem minima aperiam. Beatae ipsa deleniti sequi tenetur, et accusamus omnis dolorem, eaque ex aliquid aperiam repudiandae voluptatem reprehenderit fugit itaque praesentium quibusdam, consequatur minus deserunt labore! Consectetur est mollitia voluptatem voluptas fugit exercitationem quisquam amet saepe et? Impedit dolore fugit corporis quod ipsam distinctio quae perferendis vitae.</p>

                <img class="col-md-4" src="https://i.pinimg.com/originals/35/d4/87/35d487a2067df6a9ee558c025a7bea1c.jpg"/>
        </div>
       

        <div class="row">
            <img class="col-md-4" src="https://i.pinimg.com/736x/4f/8c/16/4f8c16383706563ffae916b1296ccd7f.jpg"/>

            <p class="lorem col-md-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente amet facilis porro eligendi odio sint a rem architecto accusantium alias quibusdam, placeat nemo hic sed nam tempora ipsum molestias nobis consectetur quod sit eveniet in necessitatibus qui. Doloribus vel non perspiciatis facere accusamus laborum quisquam incidunt quis eaque, labore soluta numquam, eligendi, deleniti voluptatem? Eligendi, dolorem. Sequi hic, voluptatem reprehenderit nesciunt dolor rerum cupiditate debitis! Voluptatem aperiam id assumenda, nam similique aliquid deserunt ipsam fugiat? Ipsam, provident. Ex, hic ad! Suscipit totam libero facere repellat aut illo obcaecati sunt? Dolores ipsam modi incidunt aspernatur sunt iusto beatae alias, sequi, veniam dolor vero eligendi totam repellendus, quidem neque odit? Qui laboriosam sit excepturi fugiat optio nam quae praesentium, odit accusantium reprehenderit, nesciunt in ullam, architecto repellendus perspiciatis corporis eos voluptas ipsum. Harum cum commodi repudiandae similique, maxime amet sint corporis nostrum modi quo sit reprehenderit tempora non inventore. Quas, esse minima recusandae error saepe doloremque blanditiis amet tempora quasi aperiam assumenda facilis alias! Pariatur temporibus, molestiae, corporis in, incidunt vitae vero dolores porro quidem voluptatem similique quam! Eius, nobis magnam? Recusandae, accusamus sapiente! Ratione quasi optio nostrum harum voluptate veritatis perspiciatis dolor! Tempora voluptate ratione odio eveniet ut corporis obcaecati doloremque, similique necessitatibus deserunt quibusdam molestias. Laborum quas a architecto, eos ab obcaecati delectus aliquid facere eum harum dolorum numquam inventore neque sunt non explicabo maxime. Obcaecati voluptates eum, amet eaque aspernatur laboriosam quod, eveniet nesciunt sapiente asperiores facilis aliquid expedita impedit, officiis quidem quia. Laboriosam dolore harum perspiciatis. Aliquam ratione maxime harum dolorem minima aperiam. Beatae ipsa deleniti sequi tenetur, et accusamus omnis dolorem, eaque ex aliquid aperiam repudiandae voluptatem reprehenderit fugit itaque praesentium quibusdam, consequatur minus deserunt labore! Consectetur est mollitia voluptatem voluptas fugit exercitationem quisquam amet saepe et? Impedit dolore fugit corporis quod ipsam distinctio quae perferendis vitae.</p> 
        </div>
    </div>
</section>
{% endblock %}
