{% extends 'base.html.twig' %}

{% block title %}Hello DanganDeuxController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1 class="text-center">Ajouter un élève</h1>
            {{form(addForm)}}
        </div>
    </section>
{% endblock %}
