{% extends 'base.html.twig' %}

{% block title %}Tous les élèves{% endblock %}

{% block body %}

<section class="universe">
    <div class='container'>
        <h1 class="text-center text-white">78ème promotion</h1>

        <div class="row mt-5">
            {% for eleves in eleves %}
                <div class="card col-md-3 mx-2 mt-3" style="width:19rem">
                    <img class="card-img-top" style="height:350px" src="{{eleves.photo}}">

                    <div class="card-body">
                        <h5 class="text-center card-title">{{eleves.eleve}}</h5>

                        <a class="btn btn-primary voir" href="{{path('app_single_dangan', {id:eleves.id})}}">Voir profil</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}