{% extends 'base.html.twig' %}

{% block title %}Ajouter un élève{% endblock %}

{% block body %}
<section class="enveloppe">
    <div class="container text-white">
        <div class="row register pt-5">
            <h2 class="text-center">Ajouter un élève</h2>

            <div class="col md-12 mx-auto">
                {{form(addForm)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
